.containsSqrs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex:1 1 auto;
    height: 400;
    width: 400;
    background-color: blueviolet;
    border-style: solid;
    gap:2px;

    
}
.insideBox{
    height: 20px;
    width: 20px;
    align-content: stretch;
    background-color: white;
    border: 1px black solid;
    
}